body{
  margin:0;
  font-family: 'Merriweather', serif;
  text-align: center;
}
h1{
  margin-top:50,auto,0,auto;
  font-family: 'Sacramento', cursive;
  font-size:5.625rem;
  color:#66BFBF;
  line-height: 2;
}

h2{
  font-size:2.5rem;
  color:#66BFBF;
  font-weight:normal;
  font-family: 'Montserrat', sans-serif;
}
h3{
  font-family: 'Montserrat', sans-serif;
  color:#11999E;
}
.para{
  color:#40514E;
  height:100px;
  width:400px;
  margin:auto;
}
p{
  color:#40514E;
}
hr{
  border-style:none;
  width:5%;
  border-width:7px;
  border-top-style:dotted;
  border-color:#EAF6F6;;
}
.top-container{
  background-color: #E0EBE8;
  position:relative;
  padding-top:100px;
}
.bottom-cloud{
  position: absolute;
  bottom:300px;
  left:300px;
}
.top-cloud{
  position:absolute;
  right:300px;
  top:100px;
}
.middle-container{

}
.bottom-container{
  margin-top:100px;
  background-color:#66BFBF;
  height:165px;
  width:100%;

}
.profile-pic{
  height:20%;
  width:20%;
  margin-top:20px;
}
.skill-row{
  width:50%;
  margin:100px auto;
  text-align:left;
  line-height:2;
}
.computer{
  width:25%;
  float:left;
  margin-right:30px;
}
.run{
  width:25%;
  float:right;
  margin-left:30px;
}
.footer-link{
  color:#11999E;
  margin:20px 20px auto auto;
}
.copyright{
  color:#EAF6F6;
}
.myButton {
	box-shadow: 0px 0px 0px 2px #9fb4f2;
	background:linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
	background-color:#66BFBF;
	border-radius:10px;
	border:1px solid #4e6096;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:19px;
	padding:12px 37px;
	text-decoration:none;
	text-shadow:0px 1px 0px #283966;
}
.myButton:hover {
	background:linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
	background-color:#476e9e;
}
.myButton:active {
	position:relative;
	top:1px;
}
